.profile__edit {
    width: 24px;
    height: 24px;
    margin-top: 18px;
    margin-left: 28px;
    background-image: url(../../../images/profile__edit.png);
    background-color: #000000;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid white;
}

.profile__edit:hover {
    filter: opacity(60%);
    cursor: pointer;
}

@media screen and (max-width: 900px) {
    .profile__edit {
        width: 18px;
        height: 18px;
        margin-left: 12px;
        margin-top: 20px;
    }
}