.header__logo {
    margin-top: 45px;
    margin-bottom: 41px;
    width: 173px;
    height: 33px;
}

@media screen and (max-width: 900px) {
    .header__logo {
        margin-top: 28px;
        margin-left: 27px;
        margin-bottom: 32px;
        width: 126px;
        height: 24px;
    }
}