.modal__container_type_popup{
    display: flex;
      flex-direction: column;
      max-width: 820px;
      max-height: 540px;
      height: 75%;
}
    
@media screen and (max-width: 900px) {
    .modal__image-container {
        min-width: 240px;
        width: 75vw;
        /* min-height: 299px; */
    }
}