.modal__close_type_popup {
    background-color: transparent;
    border: none;
    background-position: center;
    width: 40.7px;
    height: 40.7px;
    position: absolute;
    top: 30px;
    right: 500px;
    border-radius: 50%;
  }
  
  @media screen and (max-width: 900px) {
    .modal__close_type_popup {
        width: 26px;
        height: 16px;
        margin-bottom: 12px;
        right: -2px;
    }
  }